.joinSection {
    padding: 2rem;
    background: #E9FCF7;
}

.joinTitle {
    font-size: 3rem;
    font-weight: 700;
    color: #2e315e;
    margin-bottom: 26px;
}

.joinCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.joinMainCard {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: none;
    width: 100%;
    /* max-width: 98vw;
    min-width: 320px; */
    /* overflow: hidden; */
}

.joinImageBox {
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 2px #00000029;
}

.joinImage {
    margin: 0;
    padding: 0;
}

.joinImageCrop{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .adoptLogo {
    width: 100%;
    max-width: 140px;
    object-fit: contain;
    display: block;
    margin: auto;
} */

.joinContent {
    width: 50%;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.joinContent button{
    min-width: 320px;
}

.joinText {
    color: #4D517F;
    font-size: 1.13rem;
    margin-bottom: 18px;
}

.joinContent .primary.lg img {
    vertical-align: middle;
    height: 1.1em;
    margin-left: 6px;
    width: auto;
    display: inline-block;
}

@media (max-width: 950px) {
    .joinSection {
        padding: 1rem;
    }
    .joinHeader{
        padding: 0;
    }
    .joinMainCard {
        width: 100%;
    }
    .joinImageBox{
        height: 200px !important;
    }
}

@media (max-width: 700px) {
    .joinTitle {
        font-size: 2.5rem;
    }

    .joinMainCard {
        flex-direction: column;
        border-radius: 13px !important;
    }


    .joinImageBox{
        width: 100% !important;
        height: 200px !important;
    }

    .joinImage{
        width: 100% !important;
        height: 100% !important;
    }

    .joinContent {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem !important;
    }
}